@import url(https://fonts.googleapis.com/css?family=Raleway)
body
  padding 0
  margin 0
  font-family Lato
  background linear-gradient(to top left,#F5EBEB 0%, #F8D5C3 25%, #E9C1C1 50%,#E9B0C1 75%)
button
  background-repeat no-repeat
  font-family Lato
  
quote-color = #A1B585
Julie-black = #6B6B6B
flex-style()
  display -moz-flex
  display -webkit-flex
  display flex
  flex-direction column
  align-items center
.Julie
  flex-style()
  .Julie-title
    margin-top 10px
    width 250px
    height 100px
    color Julie-black//#41463D
    border-bottom 2px dotted Julie-black//#41463D
    border-width 4px
    text-align center
    
    h1
      font-family Bad script
      margin-top 20px
      padding-bottom -10px
      font-size 55px
      font-weight 200
      
  .Julie-content
    margin 30px 0
    width 75%
    height auto
    flex-style()
    
    .Julie-btn
      flex-style()
      margin-top 30px
      height 150px
      width 50%
      //border 1px solid #6B6B6B
      border-radius 5px
      span
        font-family Lato
        color Julie-black
      button
        margin 10px 0
        padding 15px 30px 15px 30px
        border 2px solid Julie-black
        border-radius 5px
        color Julie-black
        background-color transparent
        font-size 15px
        font-weight 400
        outline none
        cursor pointer
        transition all .3s ease
        &:hover
          color white
          background-color Julie-black
          transition all .25s ease
      .blockquote
        position relative
        width 20px
        height 3px
        background-color quote-color
        margin-top 30px
        &::before,&::after
          content ""
          position absolute
          background-color quote-color
          width 3px
          height 20px
          top -9px
          left calc(50% - 1.5px)
          transform rotate(45deg)
        &::after
          transform rotate(-45deg)
.Julie-board
  overflow hidden
  transition all .2s ease
  display none
  position fixed
  opacity 0
  top 0
  right 0
  bottom 0
  left 0
  z-index 999
  background-color rgba(0, 0, 0, 0.25)
.Julie-Alert
  color Julie-black
  opacity 0
  display none
  flex-direction column
  align-items center
  position fixed
  width 450px
  min-height 200px
  top 50%
  left calc(50% - 225px)
  background-color white
  border 1px solid white
  border-radius 5px
  z-index 1000
  transition all .7s ease
  //justify-content center
  h2
    font-family Bad script
    margin 20px 0 5px 0
  .Alert-content
    display block
    margin 0
    padding 20px 20px 0px 20px
  .Alert-btn-container
    display block
    position relative
    margin 0 auto
    padding 30px 0 10px 0
    button
      display inline-block
      margin 10px 10px
      padding 10px 30px 10px 30px
      border 2px solid Julie-black
      border-radius 5px
      color white
      font-size 18px
      font-weight 400
      outline none
      cursor pointer
      transition all .25s ease
      &:hover
        transition all .5s ease
        border-color white
        color white
    .confirm
      color #91C8FF
      border-color #91C8FF
      background-color transparent
      &:hover
        background-color #91C8FF
    .error
      color #FC9F8D
      border-color #FC9F8D
      background-color transparent
      &:hover
        background-color #FC9F8D
 @keyframes showAlertBoard
  0% 
    display none
    opacity 0
  1%
    transform scale(.1)
    -webkit-transform scale(.1)
    display block
    opacity 0
    border-radius 50%
  100%
    transform scale(1)
    -webkit-transform scale(1)
    opacity .7
    border-radius 1px
 @keyframes showAlert
  0%
    transform scale(.8)
    -webkit-transform scale(.8)
    opacity .3
  100%
    transform scale(1)
    -webkit-transform scale(1)
    opacity 1
 @keyframes showAlertPop
  0%
    transform scale(.7)
    -webkit-transform scale(.7)
    opacity .5
  50%
    transform scale(1.03)
    -webkit-transform scale(1.03)
    opacity .65
  70%
    transform scale(.9)
    -webkit-transform scale(.9)
    opacity .85
  100%
    transform scale(1)
    -webkit-transform scale(1)
    opacity 1
 @keyframes hideAlert
  0%
    transform scale(1)
    -webkit-transform scale(1)
    opacity 1
  100%
    transform scale(.4)
    -webkit-transform scale(.4)
    opacity 0
    display none
.showJulieAlertBoard
  -webkit-animation showAlertBoard 0.3s
  animation showAlertBoard 0.3s
  opacity .7
  display block
.showJulieAlert
  -webkit-animation showAlert 0.3s
  animation showAlert 0.3s
.showJulieAlertPop
  -webkit-animation showAlertPop .25s
  animation showAlertPop .25s
  animation-delay .125s
.hideJulieAlert
  -webkit-animation hideAlert 0.3s
  animation hideAlert 0.3s
@media(max-width:768px)
  .Julie
    border none
    .Julie-title
      width 150px
      height 70px
      h1
        font-size 30px

    .Julie-content
      margin 30px 0
      width 100%

      .Julie-btn
        height 150px
        width 80%
  .Julie-Alert
    min-width 250px
    min-height 200px